<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ site.baseurl }}/assets/favicon.ico" type="image/x-icon">
    <link href='{{ site.baseurl }}/feed.xml' rel='alternate' type='application/atom+xml'>
    <link rel="canonical" href="{{ site.baseurl }}{{ page.url }}">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML">
        MathJax.Hub.Config({
          "HTML-CSS": {
            availableFonts: ["TeX"],
          },
          tex2jax: {
            inlineMath: [['$','$'],["\\(","\\)"]]},
            displayMath: [ ['$$','$$'], ['\[','\]'] ],
          TeX: {
            extensions: ["AMSmath.js", "AMSsymbols.js", "color.js"],
            equationNumbers: {
              autoNumber: "AMS"
            }
          },
          showProcessingMessages: false,
          messageStyle: "none",
          imageFont: null,
          "AssistiveMML": { disabled: true }
        });
      </script>
</head>

<body>
